html, body {
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	overflow:hidden;
	font-family: 'Roboto';
	font-size:14px;
}


.row {
	/* padding-top:1rem; */
	padding-right:0;
}

.marquee-wrapper {
	height:3rem;
	width:100%;
	position:relative;
	/* overflow:hidden; */
	
}

.marquee-wrapper.active {
	height:9rem;
}

.marquee {
	margin:0;
	padding:0;
	/* margin-top:0.5rem; */
	padding-left:100%;
	width:100%;
	height:3.0714rem;
	line-height:3rem;
	/* overflow: hidden; */
	position:relative;
	background-color: #ddd;
	color: #efefef;
	box-sizing: border-box;
	border-top:0.0714rem solid #ccc;
}

.marquee.active {
	height:15rem;
}

.marquee-item {
	list-style-type: none;
	position:absolute;
	left:100vw;
	top:0;
	overflow: hidden;
}

.marquee-item a {
	text-decoration: none;
	color:#000;
	font-size:1.3rem;
	white-space: nowrap;
	display:block;
}

.marquee-item.active a {
	text-decoration: underline;
}

/* .marquee-header {
	width: 250px;
	height: 4rem;
	position:absolute;
	display: block;
	background: red;    
	color:#fff;
	transform: skewX(-10deg);
	text-align:center;
	line-height:4rem;
	font-size:24px;
	font-weight:900;
	text-transform:uppercase;
	left:1rem;
	top:1rem;
	z-index:9;
} */


@media screen and (min-width: 768px) {
.marquee-header { 
    height: 3rem; 
	padding-left:1rem;
	padding-right:0.5rem;
    background: #f00;
    position: absolute;
	left:0;
	top:0rem;
	z-index:9;
	user-select: none;
	cursor:pointer;
	color:#fff;
	line-height:3rem;
	font-size:1.5rem;
	font-weight:900;
	text-transform:uppercase;

	/* transition: transform ease-in 4s; */
	/* animation: slideIn 3s cubic-bezier(1, 0.3, 0.5, 1.2), fadeIn 1s ease 1; */
	/* animation-name: slideIn fadeIn;
	animation-duration: 1s 2s;
	animation-iteration-count: 1 1;
	animation-timing-function: cubic-bezier(0.25, 0.1, 0.6, 1.4) linear; */
}

@keyframes slideIn {
    0% {transform: translateX(100vw); }
    100% {transform: translateX(0);}
}

@keyframes fadeIn {
	0% { opacity:1;}
    100% {opacity:1;}
}


.marquee-header:after {
    display: block;
    content: "";
    height: 0;
    width: 0;
    border: 1.5rem solid #f00;
    border-top: 1.5rem solid transparent;
    border-left: 1.5rem solid transparent;
    position: absolute;
    left: -2.9rem;
	top:0;
	cursor:pointer;
}

.marquee-header:before {
    display: block;
    content: "";
    height: 0;
    width: 0;
    border: 1.5rem solid #f00;
    border-bottom: 1.5rem solid transparent;
    border-right: 1.5rem solid transparent;
    position: absolute;
    right: -2.9rem;
	top:0rem;
	cursor:pointer;
}
}


@media screen and (max-width: 767px) {
	html, body {
		font-size:12px;
	}
	.marquee-header { 
		height: 3rem; 
		padding-left:1rem;
		padding-right:0.5rem;
		
		width:10rem;
		text-align: left;
		background: #f00;
		color:#fff;
		line-height:3rem;
		font-size:1.5rem;
		font-weight:900;
		text-transform:uppercase;
		position:relative;
	}
	.marquee-header:before {
		display: block;
		content: "";
		height: 0;
		width: 0;
		border: 1.5rem solid #f00;
		border-bottom: 1.5rem solid transparent;
		border-right: 1.5rem solid transparent;
		position: absolute;
		right: -3rem;
		top:0rem;
	}
	
	.marquee-header:after {
		display: block;
		content: "";
		height: 0;
		width: 0;
		border: 1.5rem solid #f00;
		border-top: 1.5rem solid transparent;
		border-left: 1.5rem solid transparent;
		position: absolute;
		left: -3rem;
		top:0;
	}
}

@media screen and (max-width: 400px) {
	html, body {
		font-size:12px;
	}
}


.template {
	display:none;
}

.marquee-item-desc-wrapper {
	padding-top:0.5rem;
	padding-bottom:0.5rem;
	/* width: 100%; */
	/* min-width:600px; */
	max-height:8rem;
	overflow:hidden;
	color:#444;
	line-height:1.3rem;
	font-weight: 100;
	display:none;
	background-color:rgb(245, 245, 245);
	
	padding-left:1rem;
	padding-right:1rem;
}

.marquee-item.active .marquee-item-desc-wrapper {
	display:block;
	position:relative;
	z-index:8;
}

.marquee-item-desc-flex {
	display:flex;
	flex-direction: row;
	justify-content: start;
	align-content: start;
	align-items:start;
	width:100%;
	/* padding-bottom:1rem; */
}

.marquee-item-desc-content {
	/*max-width: 400px; */
    /* padding-left: 1rem; */
    padding-top: 0.5rem;
    line-height: 1rem;
    max-height: 3rem;
    /* padding-right: 3rem; */
    /* display: flex; */
    flex-direction: column;
    justify-content: left;
    align-content: left;
    align-items: center;
    font-size: 0.9rem;
    /* text-overflow: ellipsis; */
    overflow: hidden;
}

.marquee-item-desc-featuredimage {
	/* min-height:50px; */
}

.marquee-item-desc-featuredimage.active {
	max-width: 10rem;
	height:5rem;
	padding-right:0.5rem;
	/* margin-left: auto; */
}



.marquee-item-desc-footer {
	display:flex;
	flex-direction: row;
	gap:2rem;
	/* padding-bottom:0.5rem; */
	/* justify-content: space-between;  */
}

.marquee-item-date {
	font-size:0.8rem;
	color:#aaa;
}

.marquee-item-source {
	display: flex;
    gap: 2rem;
	margin-left: auto;
}

.marquee-item-source a {
	font-size:0.8rem;
	color:#aaa;
	text-decoration: none;
}
.marquee-item.active .marquee-item-source a {
	text-decoration: none;
}

.marquee-item-goto a {
	font-size:0.8rem;
	color:rgb(37, 26, 190);
}